streamlit==1.35.0
pydantic-settings==2.3.0
python-dotenv==1.0.1
requests==2.32.0
openai==1.30.0
Pillow>=10.3.0
gradio-client>=0.16.0
yt-dlp==2024.05.27
opencv-python-headless>=4.9.0.80
numpy>=1.26.4